<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
<title>Receptionist Registration Form</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</head>
<body>
<div class="signup-form">
    <form #frm="ngForm" (ngSubmit)="onSubmit()">
		<h2>Receptionist Register</h2>
		<!-- <p class="hint-text">Create your account. It's free and only takes a minute.</p> -->
        
                <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" id="receptionistName" 
               #name=ngModel 
               required
                [(ngModel)]= "receptionist.receptionistName" name="ReceptionistName" 
                pattern="[a-zA-Z ]*"
                maxlength="20"
                minlength="3"
             >
             <div class="alert alert-danger" *ngIf="name.touched && !name.valid" >
                <div *ngIf="name.errors?.required">Please enter Name</div>
                <div *ngIf="!name.errors?.valid">Please Enter valid Name</div>
                 <!-- <div class="invalid-feedback" *ngIf="name.errors?.required">Name is Required</div>  -->
            </div>
        </div>
       

        <div class="form-group">
            <label>Email Id</label>
            <input type="text" class="form-control" id="emailAdress" #mail = ngModel
                [(ngModel)]= "receptionist.emailAdress" name="emailAdress" required
                pattern="^[a-zA-Z0-9_!#$%&’*+/=?`{|}~^.-]+@[a-zA-Z0-9.-]+$">
                <div class="alert alert-danger" *ngIf="mail.touched && !mail.valid" >
                    <div *ngIf="mail.errors?.required">Please enter Email</div>
                    <div *ngIf="!mail.errors?.valid"> Please Enter valid Email</div>
                </div>
        </div>
    
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" id="password" #pwd= ngModel
                [(ngModel)]= "receptionist.password" name="password" required minlength="4" maxlength="10">
                <div class="alert alert-danger" *ngIf="(pwd.dirty || pwd.touched) && !pwd.valid" >
                    <div *ngIf="pwd.errors?.required">Password is Required</div>
                    <div *ngIf="!pwd.errors?.valid"> invalid Password it must be 4 to 8 characters</div>
                     <!-- <div class="invalid-feedback" *ngIf="name.errors?.required">Name is Required</div>  -->
                </div> 
        </div>
        
        
        <div class="form-group" >
            <label class="col-lg-3 control-label">Gender</label>
            <span><input required id="male" type="radio" value="male" name="gender" [(ngModel)] = "receptionist.gender" >
            <label for="male">Male</label>

            <input required id="female" type="radio" value="female" name="gender"  
            [(ngModel)] = "receptionist.gender" style="margin-left: 15px;">
            <label for="female" >Female</label></span>
        </div>
    
        <div class="form-group">
            <label>Contact No</label>
            <input type="text" class="form-control" id="contactNo" #contactRec=ngModel
                [(ngModel)]= "receptionist.contactNo" name="contactNo" 
                required 
                pattern="^[789]\d{9}$"
                maxlength="10"
                minlength="10">
        </div>
        <div *ngIf="contactRec.errors?.touched" class="alert alert-danger">Contact is invalid</div>
        <div *ngIf="contactRec.errors?.required">
               Contact is required 
        </div>

        <div class="form-group">
            <label>Doctor Id</label>
            <!--<input type="text" class="form-control" id="doctorId" #docId=ngModel
                [(ngModel)]= "receptionist.doctorId" name="doctorId" 
                required 
                >-->
                <select class="form-control" name="doctorId" id="appointmentrecord"
                                [(ngModel)]="receptionist.doctorId">
                                <option *ngFor="let rr of doctor" value={{rr.doctorId}} >{{rr.doctorName}}</option>
                                
        </select>
                <div *ngIf="contactRec.errors?.required">
                    Please Select Doctor Id
             </div>
        </div>
  
        <div class="d-flex">
            <div><button class="btn btn-success" type="submit" [disabled]="frm.invalid">Register</button></div>
            <div class="ml-5">
                        <div>Already have an account! </div>
                        <a routerLink="/LoginRecept" routerLinkActive="active" class="nav-link ml-3">Sign In Here</a>
            </div>
        </div>

    </form>
</div>
<!-- {{frm.value | json }} -->
</body>
</html>