<div class="container-fluid">

    <div class="row" style="display: flex; justify-content: center;align-items:center flex-column;">

        <div class="col-md-6 col-12 d-flex flex-column justify-content-center align-items-center"
            style="height: 100vh;">

            <!-- middle section -->
            <div>
                <img src="https://indrakusuma.web.id/simple-404-template/assets/images/404.svg" alt="">
            </div>

            <div style="margin-top: 10px;">
                <h2 class="font-weight-normal lead" id="desc">The page you requested was not found.</h2>
            </div>

        </div>

    </div>

</div>