<head>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">


    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i,900"
        rel="stylesheet">
</head>
<!-- ======= Header Started======= -->
<app-nav-bar></app-nav-bar>
<!-- End Header ---------------------------------------------------->





<!-- About us and Image section ---------------------------------------------------->
<div class="image-aboutus-banner"style="margin-top:0px">
   <div class="container">
    <div class="row">
        <div class="col-md-12">
         <h1 class="lg-text">About Us</h1>
         <p class="image-aboutus-para">Best Outcome for Every Patient Every Time.</p>
       </div>
    </div>
</div>
</div>




<div class="bread-bar">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-8 col-sm-6 col-xs-8">
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">About Us</li>
                    </ol>
            	</div>
                <div class="col-md-4 col-sm-6 col-xs-4">
                </div>
            </div>
      	</div>
    </div>
<!-- About us and Image section Ends---------------------------------------------------->





<div class="aboutus-secktion paddingTB60">
    <div class="container">
        <div class="row">
                	<div class="col-md-6">
                    	<h1 class="strong">Who we are and<br>what we do</h1>
                        <p class="lead"> # Our project is targeted to reduce the cumbersome process of consulting doctors, chemist 
                            maintaining track of the medicines as well as the scheduled appointment of the user with the 
                            doctors through receptionist. The Admin can validate user. <br>easy and quick. </p>
                    </div>
                    <div class="col-md-6">
                    	<p>1) Meditrack will be a Web app to help people with their medicine and doctors’ routine.
                            It will store all the medications prescribed by receptionist and help to maintain the stock. It
                            provides an interface through which user can track the Medicines and can schedule the 
                            appointment. If the user is not at its home location and wants the medicine then user can track the 
                            nearest chemist location.</p>
                        <p>2) Our Meditrack app makes it easy to set up all aspects of user’s treatment.
                            Our mission is to simplify your treatment plan no matter how complex it is and to make it possible 
                            for you to take control of your own health.</p>
                    </div>
</div>
    </div>
</div>







<!--OUR TEAM ---------------------------------------------------->
<div class="bg-secondary py-5">
    <div class="container py-5">
      <div class="row mb-4">
        <div class="col-lg-5">
          <h1 class="display-4 font-weight-success">OUR TEAM</h1>
          
        </div>
      </div>
  
      <div class="row text-center">
          <!-- Team item-->
          <div class="col-xl-4 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="assets/Images/rupali.jpeg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0">Rupali Pangre</h5><span class="small text-uppercase text-muted">Computer Engineer</span>
              <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- End-->
  
        
        
  
    <!-- Team item-->
    <div class="col-xl-4 col-sm-5 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="assets/Images/nikhil.jpeg" alt="" width="100"  class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Nikhil Deshpande</h5><span class="small text-uppercase text-muted">Mechanical Engineer</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->
  
        <!-- Team item-->
        <div class="col-xl-4 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="assets/Images/siddhesh.jpeg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Shubham Nikam</h5><span class="small text-uppercase text-muted">Mechanical Engineer</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->
  
      </div>


      <div class="row text-center">
        <!-- Team item-->
        <div class="col-xl-4 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="assets/Images/shubham.jpeg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0">Shubham Singh</h5><span class="small text-uppercase text-muted">Information technology Engineer</span>
              <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- End-->
        <!-- Team item-->
        <div class="col-xl-4 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="assets/Images/subham.jpeg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0">Siddhesh Bhavsar</h5><span class="small text-uppercase text-muted">Information technology Engineer</span>
              <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- End-->
        
      </div>
    </div>
  </div>
 <!--OUR TEAM ENDS---------------------------------------------------->  

<!-- ======= Footer Started======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6 footer-info">
                    <h3>MediTrack</h3>
                    <p>
                        A/108 M.J.Road <br>
                        PIN 411004, PUNE<br><br>
                        <strong>Phone:</strong> 9730622833<br>
                        <strong>Email:</strong> MediTrack@gmail.com<br>
                    </p>
                    <div class="social-links mt-3">
                        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 footer-links">
                    <h4>Our Goals</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Changing The Way You Receive Healthcare.</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Excellence. Every Day in Every Way.</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Compassion. Innovation. Trust.</a></li>
                        
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Always Caring. Always Here.</a></li>
                    </ul>
                </div>



                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Our Newsletter</h4>
                    <p>Best Outcome for Every Patient Every Time. </p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>MediTrack</span></strong>. All Rights Reserved
        </div>
        <div class="credits">

            Designed by <a href="https://bootstrapmade.com/">MediTrackTeam</a>
        </div>
    </div>
</footer>
