<header id="header" style="background-color:#839192 ;">
    <div class="container">

        <div class="logo float-left">
            <h1 class="text-light"><a href="index.html"><span>MediTrack</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
        </div>

        <nav class="nav-menu float-right d-none d-lg-block">
            <ul>
                <li class="active"><a routerLink="/HomeRecept" routerLinkActive="active" class="nav-link">Home</a></li>
                <li><a routerLink="/AboutUs" routerLinkActive="active" class="nav-link">About Us</a></li>
                <li><a href="#services">Services</a></li>

                <li class="drop-down "><a href="">Sign Up</a>
                    <ul>
                        <li><a routerLink="/register-doctor" routerLinkActive="active" class="nav-link"> Doctor</a></li>
                       <li><a routerLink="/PAuthenticaticationKey" routerLinkActive="active" class="nav-link">Patient </a></li>
                        <li><a routerLink="/register-receptionist" routerLinkActive="active" class="nav-link">Receptionist</a></li>

                    </ul>
                </li>

                <li class="drop-down"><a href="">Sign In</a>
                    <ul>
                        <!--<li><a routerLink="/PLogin" routerLinkActive="active" class="nav-link">Patient</a></li>
                        <li><a routerLink="/admin-login" routerLinkActive="active" class="nav-link">Admin</a></li>-->
                        <li><a routerLink="/register-doctor" routerLinkActive="active" class="nav-link">Doctor</a></li>
                        <li><a routerLink="/LoginRecept" routerLinkActive="active" class="nav-link">Receptionist</a></li>
                    </ul>
                </li>

                <li class="drop-down" (click)="processLogout1()"><a>Sign Out</a></li>
                <li><a href="#contact">Contact Us</a></li>
            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header>
