<app-nav-bar></app-nav-bar>
<div class="col-md-6 offset-md-3">
    <h3></h3>
<form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label >Medicine Name</label>
        <input type="text " class="form-control" id="firstname"
        [(ngModel)] = "pprescription.medicineName" name="firstname">
    </div>
   
    <div class="form-group">
        <label >Daily Dosage</label>
        <input type="number" class="form-control" id="lastname"
        [(ngModel)] = "pprescription.dailyDosage" name="lastname">
    </div>

    <div class="form-group">
        <label >Upto Date</label>
        <input type="text" class="form-control" id="emaild"
        [(ngModel)] = "pprescription.uptoDate" name="emaild">
    </div>
    <a (click)="saveMedicineDetails()" routerLinkActive="active" class="btn bt"  role="button" style="background-color: #ADF1E7; margin-bottom: 10px;" aria-pressed="true" style="color: black;">Update</a>
    
</form>
<div>
    
    <button style="margin-top: 2%;" class="btn btn-success" type="submit" (click)="onSubmit()">
        View Report
    </button>
</div>
</div>