<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
  <div class="card card0 border-0">
      <div class="row d-flex">
          <div class="col-lg-6">
              <div class="card1 pb-5">
                  <div class="row">
                   
                     <img src="assets/Images/logo.png" class="logo">
                   </div>
                  <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> 
                    <img src="assets/Images/fpwd4.jpg" class="image"> 
                  </div>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="card2 card border-0 px-4 py-5">
                  
                <form #frm="ngForm" (ngSubmit)="onSubmit()" id="register-form" role="form" autocomplete="off" class="form" method="post">

                  <div class="row px-3 mb-4">
                      <div class="line"></div>
                       <h4 class="or text-center">Forgot Password</h4>
                      <div class="line"></div>
                  </div>

                  <div class="row px-3"> <label class="mb-1">
                          <h6 class="mb-0 text-sm">Email Address</h6>
                      </label> 
                      <input class="form-control mb-4" type="text" name="email" placeholder="Enter a valid email address"
                       #email = ngModel [(ngModel)] = "patient.emailId"
                       minlength="10"  required> 
                      <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
                        <div *ngIf="email.errors?.required" >Please enter Email</div>
                        <div *ngIf="!email.errors?.valid" >Please Enter valid Email</div>
                      </div>
                  </div>
                  
                  
                  <div class="row  px-3"> 
                    
                    <input type="submit" [disabled]="frm.invalid" name="submit" class="btn btn-blue text-center" value="submit" style="background-color: #1a237e;">
                  </div>
                  
                  <div class="row mb-4 px-3"> 
                   
                      <a routerLink="/PLogin" routerLinkActive="active" class="nav-link text-danger">Back</a>
    
                  </div>
             
                </form>                    

              </div>
          </div>
      </div>
      <div class="bg-blue py-4">
          <div class="row px-3"> <small class="ml-4 ml-sm-5 mb-2">Copyright &copy; Meditrack. All rights reserved.</small>
              
          </div>
      </div>
  </div>
</div>