
<h1 style="background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);"
    class="text-center"> Receptionist Details</h1>
<table class="table table-hover">
    <thead>
        <tr style="background-image:linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);">

            <th scope="col">RECEPTIONIST NAME </th>
            <th scope="col">EMAIL ADDRESS</th>
            <th scope="col">GENDER</th>
            <th scope="col">CONTACT NO</th>
        
        </tr>
    </thead>

    <tbody>

        <tr *ngFor="let recept of receptionist">
            <td>{{ recept.receptionistName }}</td>
            <td>{{ recept.emailAdress }}</td>
            <td>{{ recept.gender }}</td>
            <td>{{ recept.contactNo }}</td>
            
        </tr>




    </tbody>
</table>
<div style="align-items: center;display: flex;justify-content: center;">
    <a routerLink="/admin-home" routerLinkActive="active" class="nav-link"
                                class="btn btn-primary btn-get-started animate_animated animate_fadeInUp scrollto">Home</a>
</div>
